# Flight price prediction

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_train = pd.read_excel("/content/Data_Train.xlsx")
df_test = pd.read_excel('/content/Test_set.xlsx')

In [ ]:
df_train.shape

(10683, 11)

In [ ]:
df_test.shape

(2671, 10)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [ ]:
df_train.isnull().sum() # missing values Route 1. --- Total_Stops 1

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
df_train.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [ ]:
final_df = df_train.append(df_test)
final_df.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info    Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897.0
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662.0
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882.0
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218.0
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302.0

[5 rows x 11 columns]

#Feature Engineering

In [ ]:
#Date_of_Journey.  format (day/month/year)
final_df['Day']= final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']= final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']= final_df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
final_df.head(1)

  Airline Date_of_Journey    Source Destination  ...   Price Day Month  Year
0  IndiGo      24/03/2019  Banglore   New Delhi  ...  3897.0  24    03  2019

[1 rows x 14 columns]

In [ ]:
final_df['Day'] = final_df['Day'].astype(int)
final_df['Month'] = final_df['Month'].astype(int)
final_df['Year'] = final_df['Year'].astype(int)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Day              13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [ ]:
final_df.drop('Date_of_Journey', axis=1, inplace=True)

In [ ]:
final_df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Day', 'Month',
       'Year'],
      dtype='object')

In [ ]:
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0]

In [ ]:
final_df['Arrival_Time']

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [ ]:
final_df['Arrival_hour'] = final_df['Arrival_Time'].str.split(":").str[0]

In [ ]:
final_df['Arrival_minutes'] = final_df['Arrival_Time'].str.split(":").str[1]

In [ ]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [ ]:
final_df['Arrival_hour'] = final_df['Arrival_hour'].astype(int)
final_df['Arrival_minutes'] = final_df['Arrival_minutes'].astype(int)

In [ ]:
final_df.head(2)

     Airline    Source Destination  ...  Year Arrival_hour Arrival_minutes
0     IndiGo  Banglore   New Delhi  ...  2019            1              10
1  Air India   Kolkata    Banglore  ...  2019           13              15

[2 rows x 14 columns]

In [ ]:
final_df['Dep_hour'] = final_df['Dep_Time'].str.split(":").str[0]
final_df['Dep_minutes'] = final_df['Dep_Time'].str.split(":").str[1]

final_df['Dep_hour'] = final_df['Dep_hour'].astype(int)
final_df['Dep_minutes'] = final_df['Dep_minutes'].astype(int)

final_df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Day              13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_minutes  13354 non-null  int64
 13  Dep_hour         13354 non-null  int64
 14  Dep_minutes      13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.6+ MB

In [ ]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [ ]:
final_df[final_df['Total_Stops'].isnull()]

        Airline Source Destination  ... Arrival_minutes Dep_hour  Dep_minutes
9039  Air India  Delhi      Cochin  ...              25        9           45

[1 rows x 15 columns]

In [ ]:
final_df.drop('Route',axis=1, inplace=True)

In [ ]:
final_df.Total_Stops.isnull().sum()

1

In [ ]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [ ]:
final_df.Duration.isnull().sum()

0

In [ ]:
final_df['Duration_hour']=final_df['Duration'].str.split(" ").str[0].str.split("h").str[0]

In [ ]:
final_df[final_df['Duration_hour']=="5m"]

        Airline  Source Destination  ... Dep_hour  Dep_minutes Duration_hour
6474  Air India  Mumbai   Hyderabad  ...       16           50            5m
2660  Air India  Mumbai   Hyderabad  ...       16           50            5m

[2 rows x 15 columns]

In [ ]:
final_df.drop(6474, axis=0, inplace=True)
final_df.drop(2660, axis=0, inplace=True)

In [ ]:
final_df['Duration_hour'] = final_df['Duration_hour'].astype(int)

In [ ]:
final_df['Duration_min'] = final_df['Duration']

final_df['Duration_min'] = final_df['Duration_min'].str.split(" ").str[1].str.split('m').str[0]

In [ ]:
final_df['Duration_min'] = final_df['Duration_min'].fillna(0)

In [ ]:
final_df['Duration_min'].isnull().sum()

0

In [ ]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2670
Day                   0
Month                 0
Year                  0
Arrival_hour          0
Arrival_minutes       0
Dep_hour              0
Dep_minutes           0
Duration_hour         0
Duration_min          0
dtype: int64

In [ ]:
final_df.drop('Duration', axis=1,inplace=True)

In [ ]:
final_df.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Price', 'Day', 'Month', 'Year', 'Arrival_hour', 'Arrival_minutes',
       'Dep_hour', 'Dep_minutes', 'Duration_hour', 'Duration_min'],
      dtype='object')

In [ ]:
final_df['Duration_min']= final_df['Duration_min'].astype(int)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  object
 5   Price            10681 non-null  float64
 6   Day              13351 non-null  int64
 7   Month            13351 non-null  int64
 8   Year             13351 non-null  int64
 9   Arrival_hour     13351 non-null  int64
 10  Arrival_minutes  13351 non-null  int64
 11  Dep_hour         13351 non-null  int64
 12  Dep_minutes      13351 non-null  int64
 13  Duration_hour    13351 non-null  int64
 14  Duration_min     13351 non-null  int64
dtypes: float64(2), int64(9), object(4)
memory usage: 1.6+ MB

In [ ]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
lc = LabelEncoder()

In [ ]:
final_df['Airline'] = lc.fit_transform(final_df['Airline'])
final_df['Destination'] = lc.fit_transform(final_df['Destination'])
final_df['Source'] = lc.fit_transform(final_df['Source'])
final_df['Additional_Info'] = lc.fit_transform(final_df['Additional_Info'])

In [ ]:
final_df.shape

(13351, 15)

In [ ]:
final_df.head(2)

   Airline  Source  Destination  ...  Dep_minutes  Duration_hour  Duration_min
0        3       0            5  ...           20              2            50
1        1       3            0  ...           50              7            25

[2 rows x 15 columns]